In [2]:
from pandas import DataFrame
from sklearn.utils import shuffle
import os
import concurrent
import requests
import pandas as pd
from nbdev.showdoc import *
from fastcore.test import *

In [83]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
from glom import glom
from ast import literal_eval

ModuleNotFoundError: No module named 'glom'

In [67]:
from pandas.io.json import json_normalize

In [4]:
data = pd.read_csv('train.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             916 non-null    int64
 1   adult                  916 non-null    bool
 2   backdrop_path          901 non-null    object
 3   belongs_to_collection  269 non-null    object
 4   budget                 916 non-null    int64
 5   genres                 916 non-null    object
 6   homepage               260 non-null    object
 7   id                     916 non-null    int64
 8   imdb_id                916 non-null    object
 9   original_language      916 non-null    object
 10  original_title         916 non-null    object
 11  overview               916 non-null    object
 12  popularity             916 non-null    float64
 13  poster_path            916 non-null    object
 14  production_companies   916 non-null    object
 15  production_countries   916 non-null    object
 16  release_date           916 non-null    object
 17  revenue                916 non-null    int64
 18  runtime                916 non-null    float64
 19  spoken_languages       916 non-null    object
 20  status                 916 non-null    object
 21  tagline                916 non-null    object
 22  title                  916 non-null    object
 23  video                  916 non-null    bool
 24  vote_average           916 non-null    float64
 25  vote_count             916 non-null    int64
dtypes: bool(2), float64(3), int64(5), object(16)
memory usage: 173.7+ KB

In [6]:
data.head()

,Unnamed: 0,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,/pJ1jm5sJbcQC731JYF06rDAkZEZ.jpg,"{'id': 103372, 'name': 'Mr. Bean Collection', ...",25000000,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,1268,tt0453451,en,...,2007-03-22,232225908,90.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,Disaster is just a small step away.,Mr. Bean's Holiday,False,6.3,2059
1,1,False,/qykc21PjbISZCmpKedY76fojV1I.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,1967,tt0384814,en,...,2006-02-02,0,117.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Passion and ambition drive two dreamers in 193...,Ask the Dust,False,5.4,92
2,2,False,/8PnQPHZ06YRRiBbrJNIezeTXh7p.jpg,NaN,2500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,574,tt0049470,en,...,1956-05-16,10250000,120.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A little knowledge can be a deadly thing!,The Man Who Knew Too Much,False,7.5,882
3,3,False,/hKpzq3U7X1C1lqnYh0WQwlPyxO5.jpg,NaN,5000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,1955,tt0080678,en,...,1980-10-02,26010864,124.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,I am not an animal! I am a human being! I … am...,The Elephant Man,False,8.1,2247
4,4,False,/cXU4zg2aKglQrMOLokHLbnxwkGV.jpg,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,639,tt0098635,en,...,1989-01-12,92823546,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Can two friends sleep together and still love ...,When Harry Met Sally...,False,7.4,2813

In [21]:
data["original_language"].value_counts()

en    784
fr     46
de     25
it     13
es     11
ja      8
ru      6
da      4
zh      4
nl      3
cn      2
pt      2
ko      2
cs      1
hu      1
hi      1
af      1
no      1
el      1
Name: original_language, dtype: int64

In [12]:
data['backdrop_path'][1]

'/qykc21PjbISZCmpKedY76fojV1I.jpg'

In [14]:
data['belongs_to_collection'].value_counts()

{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}                         16
{'id': 185682, 'name': 'The Adventures of Antoine Doinel', 'poster_path': '/66hyq0YtgBjrfT2kB1YJu33UDcy.jpg', 'backdrop_path': None}                                         5
{'id': 1575, 'name': 'Rocky Collection', 'poster_path': '/O66XFv0mU6JKfmrgkoTQLwbFDG.jpg', 'backdrop_path': '/JhGydj4q5y8MoWZFyj15yKNrzC.jpg'}                               5
{'id': 151, 'name': 'Star Trek: The Original Series Collection', 'poster_path': '/zcB8KxHA4EapOoZZPAvwgmE1iGK.jpg', 'backdrop_path': '/9BQj9hq0aK6yM9Tm2NJ28jg572y.jpg'}     5
{'id': 1241, 'name': 'Harry Potter Collection', 'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg', 'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'}                      4
                                                                                                                                                                            ..
{'id': 64750, 'name': 'Blair Witch Collection', 'poster_path': '/qDQuKJZYLHrs1Ej64tYYFooFxc1.jpg', 'backdrop_path': '/e5GwLq0zBer3SuSJZodcNROnT6Z.jpg'}                      1
{'id': 109076, 'name': 'Lost Boys Collection', 'poster_path': '/rpuL8zSLmVt34gwk03gSGReSjog.jpg', 'backdrop_path': '/qXpWa7kDopkOyEhuZtOLgIh4SW9.jpg'}                       1
{'id': 608103, 'name': 'Shaft (Reboot) Collection', 'poster_path': '/iNs3WpagrJ4tDoR9paeasEt7CmQ.jpg', 'backdrop_path': '/hK9ASFeu7ba6PVWrKkyqjaLvk4V.jpg'}                  1
{'id': 86105, 'name': 'American Psycho Collection', 'poster_path': '/ko4O9lcRGYOZAF5Hh79Mfsgjpun.jpg', 'backdrop_path': '/z5cYtp6jrS23RrQPBiJMJpIMwjc.jpg'}                  1
{'id': 33059, 'name': 'Wild Things Collection', 'poster_path': '/4OI3VZMXFMcTmpyzg9RlN4vsIro.jpg', 'backdrop_path': '/uE47SwTt7uHyVwpMzcCQ92Q7FsQ.jpg'}                      1
Name: belongs_to_collection, Length: 174, dtype: int64

In [27]:
data.production_companies.describe()

count                                                   916
unique                                                  780
top       [{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...
freq                                                     23
Name: production_companies, dtype: object

In [30]:
data['production_companies'][0
                            ]

"[{'id': 686, 'logo_path': '/qMVjV8YFbxXrGVF4wD6hRjllVbr.png', 'name': 'Tiger Aspect Productions', 'origin_country': 'GB'}, {'id': 10163, 'logo_path': '/16KWBMmfPX0aJzDExDrPxSLj0Pg.png', 'name': 'Working Title Films', 'origin_country': 'GB'}, {'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png', 'name': 'Universal Pictures', 'origin_country': 'US'}]"

In [43]:
df = pd.DataFrame(data)
df = df.drop(['belongs_to_collection','homepage','id','imdb_id','production_companies'],axis = 1)

In [44]:
df=df.drop(['popularity','original_language','original_title','revenue','runtime','spoken_languages','status'],axis = 1)

In [46]:
df=df.drop(['video','vote_average','vote_count'],axis = 1)

KeyError: "['video' 'vote_average' 'vote_count'] not found in axis"

In [49]:
df = df.drop(['release_date','production_countries'],axis = 1)

In [54]:
df['adult'].value_counts()

False    916
Name: adult, dtype: int64

In [60]:
genre = pd.DataFrame(df['genres'])

In [81]:
df['genres'][2]

"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}]"

In [82]:
genre = df['genres'].apply(lambda row: glom(literal_eval(row),'genres.id'))

NameError: name 'glom' is not defined